<div *ngIf="chiave==''">
<h3>Crea nuovo teatro e configurane il numero di posti</h3>
<form>
  <p><label for="postipalchi">Numero posti palchi</label><input class="form-control" [(ngModel)]="postipalchi" name="postipalchi" required></p>
  <p><label for="postiplatea">Numero posti platea</label><input class="form-control" [(ngModel)]="postiplatea" name="postiplatea" required></p>
  <button class="btn btn-lg btn-info btn-block" (click)="CreateTheatre()">Crea nuovo</button>
</form>
</div>
<!--<p id="nuovocreato" *ngIf="newtheatre && !clicked">Creato un nuovo teatro con {{postipalchi}} posti per i palchi e di {{postiplatea}} posti per la platea. Il teatro è ora accessibile con la seguente chiave: {{chiave}}</p>-->