<div *ngIf="clicked">
<h3>Configura il teatro e scrivi il tuo nominativo</h3>
<form>
  <p><label for="filepalchi">N file palchi</label><input [(ngModel)]="filepalchi" name="filepalchi"></p>
  <p><label for="fileplatea">N file platea</label><input [(ngModel)]="fileplatea" name="fileplatea"></p>
  <p><label for="nome">Nominativo</label><input [(ngModel)]="nome" name="nome"></p>
  <button (click)="CreateTheatre()">Conferma</button>
</form>
</div>
<app-prenotazione [bookerid]="bookerid"  [chiave]="chiave"></app-prenotazione>